@mixin make-form-inputs($dp, $flex-dir, $m, $w, $position) {
    @if ($dp == flex) {display: -ms-flexbox;}
    display: $dp;
    -ms-flex-direction: $flex-dir;
    flex-direction: $flex-dir;
    margin: $m;
    width: $w;
    position: $position;
}

@mixin make-custom-pre($dp, $overflow-x, $m, $p, $w, $bgc, $bol, $bor, $bo-radius) {
    display: $dp;
    overflow-x: $overflow-x;
    margin: $m;
    padding: $p;
    width: $w;
    background-color: $bgc;
    border: $bol;
    border-radius: $bo-radius;
}

@mixin make-custom-textarea-input-status($status, $position, $invalid-bo, $invalid-shadow, $valid-bo, $valid-shadow) {
    position: $position;
    @if ($status == invalid) {
        border: $invalid-bo;
        &:focus{
            border: $invalid-bo;
            -webkit-box-shadow: $invalid-shadow; 
            -moz-box-shadow: $invalid-shadow; 
            box-shadow: $invalid-shadow;
        }
    } @else if ($status == valid) {
        border: $valid-bo;
        &:focus{
            border: $valid-bo;
            -webkit-box-shadow: $valid-shadow; 
            -moz-box-shadow: $valid-shadow; 
            box-shadow: $valid-shadow;
        }
    }
}

@mixin make-custom-textarea-input($max-w, $dp, $p, $bo, $bo-radius, $color, $transition, $focus-bo, $focus-shadow) {
    max-width: $max-w;
    display: $dp;
    padding: $p;
    border: $bo;
    border-radius: $bo-radius;
    background-clip: padding-box;
    color: $color;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    &:focus{
        outline: none;
        border: $focus-bo;
        -webkit-box-shadow: $focus-shadow; 
        -moz-box-shadow: $focus-shadow; 
        box-shadow: $focus-shadow;
    }
    @content;
}

@mixin make-input-des($fos, $color, $m, $valid-color, $invalid-color) {
    font-size: $xs-font;
    color: $gray;
    margin: 0px;
    &.is-valid {color: $green;}
    &.is-invalid {color: $red;}
}

@mixin make-custom-form($dp, $position, $child-mt, $child-mb) {
    display: $dp;
    position: $position;
    > * {
        margin-top: $child-mt;
        margin-bottom: $child-mb;
    }
}

@mixin make-custom-label($dp, $p, $m, $align-items, $fos) {
    display: $dp;
    padding: $p;
    margin: $m;
    align-items: $align-items;
    font-size: $fos;
}




// make-custom-checkbox : 
@mixin make-custom-checkbox($dp, $checked-custom-checkbox-label-before-bo-color, $checked-custom-checkbox-label-before-bgc, $active-custom-checkbox-label-before-shadow) {
    display: $dp;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + label.custom-checkbox-label::before {
        border-color: $checked-custom-checkbox-label-before-bo-color;
        background-color: $checked-custom-checkbox-label-before-bgc;
    }

    &:active + label.custom-checkbox-label::before {box-shadow: $active-custom-checkbox-label-before-shadow;}    
}

@mixin make-custom-checkbox-label($flex-wrap, $flex-dir, $position, $before-dp, $before-w-h, $before-bgc, $before-p, $before-mr, $before-bo-radius, $before-bo, $before-transition, $after-dp, $after-font, $after-font-weight, $after-font-size, $after-color, $after-position, $after-top, $after-left, $after-transform) {
    @include make-dpflex();
    -ms-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
    -ms-flex-direction: $flex-dir;
    flex-direction: $flex-dir;
    position: $position;

    &::before {
        display: $before-dp;
        content: "";
        width: $before-w-h;
        height: $before-w-h;
        background-color: $before-bgc;
        padding: $before-p;
        margin-right: $before-mr;
        border-radius: $before-bo-radius;
        border: $before-bo;
        -webkit-transition: $before-transition;
        -moz-transition: $before-transition;
        -o-transition: $before-transition;
        transition: $before-transition;
    }

    &::after {
        display: $after-dp;
        font-family: $after-font;
        font-weight: $after-font-weight;
        content: "";
        font-size: $after-font-size;
        color: $after-color;
        position: $after-position;
        top: $after-top;
        left: $after-left;
        transform: $after-transform;
    }
}




// make custom range :
@mixin make-custom-range-range-thumb($w, $h, $mt, $bgc, $bo-raduis, $transition) {
    width: $w;
    height: $h;
    margin-top: $mt;
    background-color: $bgc;
    border-radius: $bo-raduis;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;   
}

@mixin make-custom-range-range-thumb-onactive($shadow) {
    -webkit-box-shadow: $shadow; 
    -moz-box-shadow: $shadow; 
    box-shadow: $shadow;
}

@mixin make-custom-range-slider-thumb($onhover-bgc, $onactive-bgc) {
    &:hover {background-color: $onhover-bgc;}
    &:active {background-color: $onactive-bgc;}        
}

@mixin make-custom-range-range-track($w, $h, $bgc, $bo-raduis) {
    width: $w;
    height: $h;
    cursor: pointer;
    background-color: $bgc;
    border-radius: $bo-raduis;
}

@mixin make-custom-range($max-w, $h, $p, $bgc, $range-thumb-shadow-onactive, $range-thumb-w, $range-thumb-h, $range-thumb-mt, $range-thumb-bgc, $range-thumb-bo-raduis, $range-thumb-transition, $slider-thumb-onhover-bgc, $slider-thumb-onactive-bgc, $range-track-w, $range-track-h, $range-track-bgc, $range-track-bo-raduis) {
    max-width: $max-w;
    height: $h;
    padding: $p;
    background-color: $bgc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {outline: none;}

    &::-webkit-slider-thumb {
        @include make-custom-range-range-thumb($range-thumb-w, $range-thumb-h, $range-thumb-mt, $range-thumb-bgc, $range-thumb-bo-raduis, $range-thumb-transition);
    }

    &::-moz-range-thumb {
        @include make-custom-range-range-thumb($range-thumb-w, $range-thumb-h, $range-thumb-mt, $range-thumb-bgc, $range-thumb-bo-raduis, $range-thumb-transition);
    }

    &::-ms-thumb {
        @include make-custom-range-range-thumb($range-thumb-w, $range-thumb-h, $range-thumb-mt, $range-thumb-bgc, $range-thumb-bo-raduis, $range-thumb-transition);
    }
    
    &:active {
        &::-webkit-slider-thumb {
            @include make-custom-range-range-thumb-onactive($range-thumb-shadow-onactive);
        }
        &::-moz-range-thumb {
            @include make-custom-range-range-thumb-onactive($range-thumb-shadow-onactive);
        }
        &::-ms-thumb {
            @include make-custom-range-range-thumb-onactive($range-thumb-shadow-onactive);
        }
    }

    &::-webkit-slider-thumb { 
        @include make-custom-range-slider-thumb($slider-thumb-onhover-bgc, $slider-thumb-onactive-bgc);
    }

    &::-moz-slider-thumb {
        @include make-custom-range-slider-thumb($slider-thumb-onhover-bgc, $slider-thumb-onactive-bgc);
    }
        
    &::-ms-slider-thumb {
        @include make-custom-range-slider-thumb($slider-thumb-onhover-bgc, $slider-thumb-onactive-bgc);
    }
    
    &::-webkit-slider-runnable-track {
        @include make-custom-range-range-track($range-track-w, $range-track-h, $range-track-bgc, $range-track-bo-raduis);
    }
    &::-moz-range-track {
        @include make-custom-range-range-track($range-track-w, $range-track-h, $range-track-bgc, $range-track-bo-raduis);
    }
    &::-ms-track {
        @include make-custom-range-range-track($range-track-w, $range-track-h, $range-track-bgc, $range-track-bo-raduis);
    }
}

// make custom switch : 
@mixin make-custom-switch($checked-custom-switch-label-before-bo-color, $checked-custom-switch-label-before-bgc, $checked-custom-switch-label-after-left, $checked-custom-switch-label-after-bo-color, $active-custom-switch-label-after-shadow) {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
        + label.custom-switch-label::before {
            border-color: $checked-custom-switch-label-before-bo-color;
            background-color: $checked-custom-switch-label-before-bgc;
        }
        + label.custom-switch-label::after {
            left: $checked-custom-switch-label-after-left;
            border-color: $checked-custom-switch-label-after-bo-color;
        }
    }
    &:active { 
        + label.custom-switch-label::after {
            -webkit-box-shadow: $active-custom-switch-label-after-shadow;
            -moz-box-shadow: $active-custom-switch-label-after-shadow;
            box-shadow: $active-custom-switch-label-after-shadow;
        }
    }    
}

@mixin make-custom-switch-label($flex-wrap, $flex-dir, $position, $before-dp, $before-w, $before-h, $before-bgc, $before-mr, $before-p, $before-bo-radius, $before-bo, $before-transition, $after-dp, $after-position, $after-top, $after-left, $after-h, $after-w, $after-bo, $after-bo-raduis, $after-bgc, $after-transition) {
    @include make-dpflex();
    -ms-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
    -ms-flex-direction: $flex-dir;
    flex-direction: $flex-dir;
    position: $position;

    &::before {
        display: $before-dp;
        content: "";
        width: $before-w;
        height: $before-h;
        background-color: $before-bgc;
        margin-right: $before-mr;
        padding: $before-p;
        border-radius: $before-bo-radius;
        border: $before-bo;
        -webkit-transition: $before-transition;
        -moz-transition: $before-transition;
        -o-transition: $before-transition;
        transition: $before-transition;
    }

    &::after { 
        display: $after-dp;
        content: "";
        position: $after-position;
        top: $after-top;
        left: $after-left;
        height: $after-h;
        width: $after-w;
        border: $after-bo;
        border-radius: $after-bo-raduis;
        background-color: $after-bgc;
        -webkit-transition: $after-transition;
        -moz-transition: $after-transition;
        -o-transition: $after-transition;
        transition: $after-transition;
    }
}


// make-group-input-hr :
@mixin make-group-input-hr($dir, $m-not-first-last-child, $m-first-child, $m-last-child) {
    @include make-flex-dir($dir);
    > *:not(:first-child), > *:not(:last-child) {margin: $m-not-first-last-child;}
    > *:first-child {margin: $m-first-child;}
    > *:last-child {margin: $m-last-child;}
}

// make-group-input-vr :
@mixin make-group-input-vr($dir, $m) {
    @include make-flex-dir($dir);
    > * {margin: $m;}
}

// make-group-input : 
@mixin make-group-input($type, $w, $m, $group-input-hr-dir, $group-input-hr-m-not-first-last-child, $group-input-hr-m-first-child, $group-input-hr-m-last-child, $group-input-vr-dir, $group-input-vr-m) {
    width: $w;
    margin: $m;
    @if ($type == hr) {
        @include make-group-input-hr($group-input-hr-dir, $group-input-hr-m-not-first-last-child, $group-input-hr-m-first-child, $group-input-hr-m-last-child);
    } @else if ($type == vr) {
        @include make-group-input-vr($group-input-vr-dir, $group-input-vr-m);
    }
}

// make-group-input-sizes :
@mixin make-input-sizes($add-class) {
    .inputs-xl#{$add-class} {
        input, button {
            padding: 12px 18px;
            font-size: $xl-font;
        }
        label {font-size: $xl-font - 2;}
        .input-des {
            font-size: $xs-font;
        }
    }
    
    .inputs-lg#{$add-class} {
        input, button {
            padding: 10px 17px;
            font-size: $lg-font;
        }
        label {font-size: $lg-font - 2;}
        .input-des {
            font-size: $xs-font;
        }
    }
    
    .inputs-md#{$add-class} {
        input, button {
            padding: 8px 15px;
            font-size: $md-font;
        }
        label {font-size: $md-font - 2;}
        .input-des {
            font-size: $xs-font;
        }
    }
    
    .inputs-sm#{$add-class} {
        input, button {
            padding: 6px 14px;
            font-size: $sm-font;
        }
        label {font-size: $sm-font - 2;}
        .input-des {
            font-size: $xs-font - 1;
        }
    }
    
    .inputs-xs#{$add-class} {
        input, button {
            padding: 4px 12px;
            font-size: $xs-font;
        }
        label {font-size: $xs-font - 2;}
        .input-des {
            font-size: $xs-font - 2;
        }
    }
}
