/* --------------------------------------------------------------------flex box--------------------------------------------------------------------------------------*/

/* -----------------------------------------direction---------------------------------------------------- */
@each $prefix, $value in $map-row-col-prefix-value {
    .flex-#{$prefix} {
        -ms-flex-direction: #{$value};
        flex-direction: #{$value};
    }
}

@each $screen-size, $screen-name, $min-max in $map-screen-size-name-type {
    @include make-media($min-max, $screen-size) {
        @each $prefix, $value in $map-row-col-prefix-value {
            .flex-#{$prefix}-#{$screen-name} {
                -ms-flex-direction: #{$value};
                flex-direction: #{$value};
            }
        }
    }
}

@each $prefix, $justify-value, $align-value in $map-all-dir {
    .#{$prefix} {
        @include make-dpflex;
        @include make-justify-align($justify-value, $align-value);
    }
}

/* ----------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------justify & items--------------------------------------------*/
@include make-loop-justify-items($map-loop-justify-items, null);
@each $screen-size, $screen-name, $min-max in $map-screen-size-name-type {
    @include make-media($min-max, $screen-size) {
        @include make-loop-justify-items($map-loop-justify-items, -#{$screen-name});
    }
}
/* ------------------------------------------------------------------------------------------------------------*/

/* -------------------------------------------------------wrap--------------------------------------------------*/
@each $property in $map-fle-wrap {
    .flex-#{$property} {
        @include make-flex-wrap($property);
    }
}
/*--------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
