<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">

    <!--viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--title-->
    <title>CONTROLFLEX | الشاشات</title>

    <!--css-->
    <link rel="stylesheet" href="../../controlfex.css">
    <link rel="stylesheet" href="../../style.css">

    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

    <!--icons-->
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">

    <!--window icon-->
    <link rel="apple-touch-icon" href="basis-icon.svg" sizes="180x180">
    <link rel="icon" href="basis-icon.svg" type="image/svg">
</head>
<body>

    <div class="loading-overlay">
        <div class="spinner spinner-pink-trans"></div>
    </div>

    <!--navbar-->
    <nav class="navbar navbar-purple m-0">
        <a class="navbar-link align-items-center" href="#"><i class="fas fa-fire io-sm ml-6"></i> <span class="dp-none-md">CONTROLFLEX</span></a>
        <div class="opt-navbar">
            <button class="bn-navbar bn-close" id="open-menu-window"  style="font-size: 24px;"><i class="fas fa-bars"></i></button>
            <a class="p-2" href="https://github.com/CONTROLFLEX/CONTROLFLEX"><i class="link-noactive fab fa-github text-lg"></i></a>
            <a class="p-2" href="https://twitter.com/CONTROLFLEX_CSS"><i class="link-noactive fab fa-twitter text-lg"></i></a>
        </div>
        <div class="collapse_ navbar-collapse">
            <ul class="nav-collapse">
                <li><a class="link-noactive-light p-3" href="../index.html">الصفحة الرئيسية</a></li>
                <li><a class="link-noactive-light p-3" href="../get-start.html">إبدء</a></li>
                <li><a class="link-noactive-light p-3" href="../explore.html">إستكشف</a></li>
                <li><a class="link-noactive-light p-3" href="../support.html">الدعم</a></li>
                <li><a class="link-noactive-light p-3" href="../blog.html">المدونة</a></li>
            </ul>
        </div>
    </nav>
    <!---->


    <div class="menu-window navbar-dark-blue menu_" id="menu-window">
        <div class="align-items-center">
            <a><i class="fas fa-fire io-sm ml-6"></i> <span>CONTROLFLEX</span></a>
            <button class="bn-close mr-auto" id="close-menu-window"><i class="fas fa-times"></i></button>
        </div>
        <div class="menu-content_">
            <ul class="nav-vr w-100 mt-3 p-3 align-items-center">
                <li class="w-85 link-menu_"><a class="link-noactive-light p-4 dp-block" href="../index.html">الصفحة الرئيسية <span class="fas fa-angle-left"></span></a></li>
                <li class="w-85 link-menu_"><a class="link-noactive-light p-4 dp-block" href="../get-start.html">إبداء <span class="fas fa-angle-left"></span></a></li>
                <li class="w-85 link-menu_"><a class="link-noactive-light p-4 dp-block" href="../explore.html">إستكشف <span class="fas fa-angle-left"></span></a></li>
                <li class="w-85 link-menu_"><a class="link-noactive-light p-4 dp-block" href="../support.html">الدعم <span class="fas fa-angle-left"></span></a></li>
                <li class="w-85 link-menu_"><a class="link-noactive-light p-4 dp-block" href="../blog.html">المدونة <span class="fas fa-angle-left"></span></a></li>
            </ul>
            <a class="bn-xs outline-cyan w-85 m-center" href="../index.html">إنجليزي</a>
            <div class="menu-footer_">
                <a class="p-2" href="https://github.com/CONTROLFLEX/CONTROLFLEX"><i class="link-noactive fab fa-github text-lg"></i></a>
                <a class="p-2" href="https://twitter.com/CONTROLFLEX_CSS"><i class="link-noactive fab fa-twitter text-lg"></i></a>
                <a class="p-2" href="../explore.html"><i class="link-noactive fas fa-search text-lg"></i></a>
                <a class="p-2" href="../about.html"><i class="link-noactive fas fa-users text-lg"></i></a>
            </div>
        </div>
    </div>

    <main class="main_">
        <div class="dp-flex-lg">
            <aside class="aside_" id="aside">
                <nav class="nav-vr">
                    <div class="p-4 version-info_ version-style_">
                        V.0.3
                    </div>
                    <ul class="p-12">
                        <li class="link-aside_"><a class="link-active-dark-blue p-4 dp-block" href="#">إبداء <span class="fas fa-link float-right"></span></a></li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../download.html">تنزيل <span class="fas fa-link float-right"></span></a></li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" data-targets="#Layout-link-lg" data-pattern="slide-toggle">تنسيق <span class="fas fa-angle-down float-right"></span></a>
                            <ul id="Layout-link-lg">
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="screens.html">الشاشات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-active-dark-blue p-4 dp-block" href="#">الحاويات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../layout/grid.html">شبكة <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../layout/utilities.html">خدمات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../layout/z-index.html">z-مؤشر <span class="fas fa-link float-right"></span></a></li>
                            </ul>
                        </li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" data-targets="#Components-link-lg" data-pattern="slide-toggle">مكونات <span class="fas fa-angle-down float-right"></span></a>
                            <ul id="Components-link-lg" style="display: none;">
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/alert.html">رسائل الخطأ <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/breadcrumb.html">مسارات التنقل <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/button.html">الأزرار <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/card.html">البطاقات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/collapse.html">الإنهيارات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/dropdown.html">اسقاطات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/form.html">أشكال الإدخال <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/list.html">القوائم <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/media.html">الوسائط <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/menu.html">قوائم النافذه <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/navbar.html">أشرطة التنقل <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/nav.html">التنقلات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/notice.html">الإشعارات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/pagination.html">ترقيم الصفحات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/progres.html">أشرطة التقدم <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../components/spinner.html">الدوارات <span class="fas fa-link float-right"></span></a></li>
                            </ul>
                        </li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" data-targets="#Utilities-link-lg" data-pattern="slide-toggle">خدمات <span class="fas fa-angle-down float-right"></span></a>
                            <ul id="Utilities-link-lg" style="display: none;">
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/align.html">المحاذاه <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/animation.html">الرسوم المتحركة <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/border.html">الحواف <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/radius.html">نصف القطر <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/shadow.html">الظل <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/color.html">اللون <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/display.html">العرض <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/flex-box.html">صندوق المرن <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/float.html">الطوفوا <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/icon.html">الأيقونات <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/padding.html">حشوة <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/position.html">موضع <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/text.html">النص <span class="fas fa-link float-right"></span></a></li>
                                <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../utilities/width.html">العرض <span class="fas fa-link float-right"></span></a></li>
                            </ul>
                        </li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../about.html">عنا <span class="fas fa-link float-right"></span></a></li>
                        <li class="link-aside_"><a class="link-noactive-dark-blue p-4 dp-block" href="../blog.html">المدونة <span class="fas fa-link float-right"></span></a></li>
                    </ul>
                </nav>
            </aside>

            <div class="container-full container-explanation_">
                <div class="container-full">
                    <div class="section-12 align-items-center mt-20">
                        <div id="getStart" class="w-100">
                            <h2 class="h2_ link-h_">الحاويات <a href="#getStart"><span class="fas fa-hashtag"></span></a></h2>
                            <article class="pragraph_ p-5 mb-40" style="color: #717171;">الحاويات هي لبنة أساسية في Controlflex تحتوي على المحتوى الخاص بك وتضخيمه ومحاذاة داخل جهاز معين أو منفذ عرض.</article>
                            <div class="hr color-dark-trans" data-heading="المواضيع :"></div>
                            <ul class="list mt-40 mb-40">
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#The-basic-concepts">المفاهيم الأساسية</a></li>
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#Container-sizes">أحجام الحاويات</a></li>
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#Default-container">الحاوية الإفتراضية</a></li>
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#Responsive-container">حاوية مستجيبة</a></li>
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#Liquid-container">حاوية سائلة</a></li>
                                <li class="item link-noactive-tomato"><a class="w-100 dp-block" href="#Main-container">حاوية رئيسية</a></li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="container-full" style="margin-top: 100px;">
                    <div class="section-12 align-items-center">
                        <div id="The-basic-concepts">
                            <h2 class="link-h_">كيف يعملون <a href="#The-basic-concepts"><span class="fas fa-hashtag"></span></a></h2>
                            <article class="text-lg p-5" style="color: #717171; white-space: pre-line;">تعتبر الحاويات عنصر التخطيط الأساسي في Controlflex وهي <span class = "color-brown"> مطلوبة عند استخدام نظام الشبكة الافتراضي الخاص بنا </span>. تُستخدم الحاويات لاحتواء المحتوى داخلها ووضعه في وسطه (في بعض الأحيان). بينما يمكن أن تتداخل الحاويات ، فإن معظم التخطيطات لا تتطلب حاوية متداخلة.

                                يأتي Controlflex بثلاث حاويات مختلفة:
                            </article>
                        </div>
                    </div>

                    <ul class="list">
                        <li class = "item"><span>container.</span> ، وهو <span> العرض: 98٪ </span> بجميع أحجام الشاشة حتى حجم <span> الأخير (mxl: 1400 بكسل) </span > ، حيث يتم تحديد العرض: <span> 1400 بكسل </span> للحاوية. </li>
                        <li class = "item"><span>container-liquid.</span> ، وهو <span> العرض: 98٪ </span> بجميع أحجام الشاشة حتى حجم <span> الأخير (mxl: 1400 بكسل) </span> ، حيث يتم تحديد العرض: <span> 80٪ </span> للحاوية. </li>
                        <li class = "item"><span>container-main.</span> ، وهو <span> العرض: 100٪ </span> بجميع أحجام الشاشة حتى <span> الحجم الأخير (mxl: 1400 بكسل) </span> ، حيث يتم تحديد العرض: <span> 1400 بكسل </span> للحاوية. </li>
                        <li class = "item"><span>container-res.</span> ، الذي يعيّن عرضًا لكل حجم شاشة سريع الاستجابة. </li>
                    </ul>
                </div>


                <div class="container-full" style="margin-top: 180px;">
                    <div class="section-12 align-items-center">
                        <div id="Container-sizes">
                            <h2 class="link-h_">أحجام الحاويات <a href="#Container-sizes"><span class="fas fa-hashtag"></span></a></h2>
                            <article class="text-lg p-5" style="color: #717171; white-space: pre-line;">يوضح الجدول أدناه كيفية مقارنة عرض كل حاوية عبر حجم كل شاشة.</article>
                        </div>
                    </div>


                    <table class="table table-light radius-10 outer-shadow table-explanation_" style="margin: 40px auto 0px auto;">
                        <thead class="text-lg text-bold">
                        <tr>
                            <td>Class infix</td>
                            <td>LXS</td>
                            <td>XS</td>
                            <td>SM</td>
                            <td>MD</td>
                            <td>LG</td>
                            <td>XL</td>
                            <td>MXL</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="color-yellow">
                            <td class="color-pink">container.</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>1400px</td>
                        </tr>
                        <tr class="color-yellow">
                            <td class="color-pink">container-liquid.</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>80%</td>
                        </tr>
                        <tr class="color-yellow">
                            <td class="color-pink">container-main.</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>1400px</td>
                        </tr>
                        <tr class="color-yellow">
                            <td class="color-pink">container-red.</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>98%</td>
                            <td>740px</td>
                            <td>920px</td>
                            <td>1100px</td>
                            <td>1400px</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="container-full" style="margin-top: 180px;">
                        <div class="section-12 align-items-center">
                            <div id="Default-container">
                                <h2 class="link-h_">حاوية افتراضية <a href="#Default-container"><span class="fas fa-hashtag"></span></a></h2>
                                <article class="text-lg p-5" style="color: #717171; white-space: pre-line;"><span>container.</span> ، حاوية مرنة بها جميع الشاشات ، وإيقاف التوسع في الحجم الأخير.</article>
                            </div>
                        </div>

                        <!--code-->
                        <pre class="custom-pre"><code>&lt;div <code>class=<code>"container"</code></code>&gt;
<span>&lt;!-- Content here --&gt;</span>
&lt;/div&gt;</code></pre>
                    </div>
                    <div class="container-full" style="margin-top: 180px;">
                        <div class="section-12 align-items-center">
                            <div id="Responsive-container">
                                <h2 class="link-h_">حاوية مستجيبة <a href="#Responsive-container"><span class="fas fa-hashtag"></span></a></h2>
                                <article class="text-lg p-5" style="color: #717171; white-space: pre-line;"><span>container-res.</span> تغير هذه الحاويه عرضها مع كل شاشة باستثناء <span>lxs , xs , sm</span>. حيث يظل العرضها عند <span>98٪</span>.</article>
                            </div>
                        </div>

                        <!--code-->
                        <pre class="custom-pre"><code>&lt;div <code>class=<code>"container-res"</code></code>&gt;
<span>&lt;!-- Content here --&gt;</span>
&lt;/div&gt;</code></pre>

                    </div>
                    <div class="container-full" style="margin-top: 180px;">
                        <div class="section-12 align-items-center">
                            <div id="Liquid-container">
                                <h2 class="link-h_">حاوية سائلة <a href="#Liquid-container"><span class="fas fa-hashtag"></span></a></h2>
                                <article class="text-lg p-5" style="color: #717171; white-space: pre-line;"><span>container-liquid.</span> يتم استخدام هذه الحاوية في المحتوى الواسع .. في حجم أقل من <span>1400px</span> تكون هذه الحاوية مماثلة للحاوية الأصلي .. بعد هذا الحجم، يصبح عرض هذه الحاوية هو : <span>80% </span></article>
                            </div>
                        </div>

                        <!--code-->
                        <pre class="custom-pre"><code>&lt;div <code>class=<code>"container-liquid"</code></code>&gt;
<span>&lt;!-- Content here --&gt;</span>
&lt;/div&gt;</code></pre>

                    </div>
                    <div class="container-full" style="margin-top: 180px;">
                        <div class="section-12 align-items-center">
                            <div id="Main-container">
                                <h2 class="link-h_">الحاوية الرئيسية <a href="#Main-container"><span class="fas fa-hashtag"></span></a></h2>
                                <article class="text-lg p-5" style="color: #717171; white-space: pre-line;"><span>.container-main</span>، تعتبر هذه الحاوية مهمة جدًا في الشاشات الكبيرة ، حيث يمكن وضع هذه الفئة في علامة الجسم.</article>
                            </div>
                        </div>

                        <!--code-->
                        <pre class="custom-pre"><code>&lt;body <code>class=<code>"container-main"</code></code>&gt;
<span>&lt;!-- Content here --&gt;</span>
&lt;/body&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer text-center bgc-dark-blue">
        <div class="ml-all-6 p-5 justify-content-center" style="line-height: 50px;">
            <div>
                <a href="https://github.com/CONTROLFLEX/CONTROLFLEX" class="color-light footer-link_"> جيثهب<i class="fab fa-github text-lg"></i></a>
                <a href="https://twitter.com/CONTROLFLEX_CSS" class="color-light footer-link_"> تويتر<i class="fab fa-twitter text-lg"></i></a>
            </div>
            <div>
                <a href="../explore.html" class="color-light footer-link_"> أمثلة<i class="fas fa-search text-lg"></i></a>
                <a href="../about.html" class="color-light footer-link_"> عنا<i class="fas fa-users text-lg"></i></a>
            </div>
        </div>
        <div class="footer-des_ mt-4">
            تم تصميم الموقع من قبل فريق controlflex .. نطلب منك دعمنا لتسهيل العديد من جوانب تصميم الويب ___ نحن في الإصدار <a href="https://github.com/CONTROLFLEX/CONTROLFLEX/tree/V.0.3" class="color-light-blue version-info_">(V.0.3)</a>
        </div>
    </footer>


<!--jQuery-->
<script src="../../jquery.min.js"></script>

<!--javascript-->
<script src="../../script.js"></script>
<script src="../../js/co.js"></script>
</body>
</html>
